body {
  min-width: 20em;
  font-family: sans-serif;
  padding: 0px;
  margin:0px;
}

a {
	text-decoration: none;
}

#header{
	background: #203959;
	margin:0px;
}

#footer{
	background: #25292a;
	margin:0px;
}

#headercont{
	padding-top:2em;
	padding-bottom:2em;
	width: 80em;
	margin-left: auto;
	margin-right: auto;
}

#header1,#header2,#header3{
	display: inline-block;
}

#header4{
	display: none;
}

#header4 button{
	width: 4em;
	height: 2em;
  	color: #FFF;
  	background-color: #15dbb8;
  	border: 0.1em solid;
  	border-color: #fff;
  	border-radius: 0.25em;
  	text-decoration: none;
  	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

#header4 button:hover {
  background-color:#FFF;
  color: #15dbb8;
}

.dropdown-content{
	display:none;
}

#header4 button:hover {
  background-color:#FFF;
  color: #15dbb8;
}

#header1{
	width:20%;
}

#header2{
	width:50%;
}

#header3{
	width:25%;
	margin-top: 1em;
	vertical-align: top;
}

#header img{
	width: 10em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
}

#header table{
	width:100%;
}

#header td{
	text-align: left;
	font-weight: normal;
  	font-style: normal;
	padding:0.5em 2em;
}

#header td a{
	color:#fff;
	text-decoration: none;

}

#header td a:hover{
	color:#E65C42;
}

input{
   border: 1px solid #ccc;
}

.search-box{
  padding: 0.5em 0.75em;
}

.button {
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #E65C42;
  border: 0.1em solid;
  border-color: #E65C42;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover {
  background-color:#FFF;
  border: 0.1em solid;
  border-color: #E65C42;
  color: #E65C42;
  padding: 0.5em 0.75em;
}

.dropdown-content a {
    float: none;
    font-size: 0.75em;
    padding: 2px 5px;
    margin: auto 0px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  	color: #E65C42;
}

#banner img{
  width: 100%;
  max-height: 25em;
}

.box{
	width:80%;
	text-align: center;
  	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

h2{
	width:80%;
  	margin-top: 1em;
  	margin-bottom: 0.5em;
  	text-align: center;
  	color: #5c5c5c;
 	margin-left: auto;
	margin-right: auto;
  	padding: 1em 0;
  	border-bottom: 0.05em solid #A7A9AC;
}

#selecter-group{
	margin-bottom: 2em;
	}

.sales,.listing,.location{
	display: inline-block;
}

#topsales img, #hotlisting img,#map img{
	width:15em;
	height:15em;
	text-align: center;
}

figcaption{
	width:15em;
	text-align: center;
}

.more{
	width:20%;
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	color: #E65C42;
	text-decoration: none;
	text-align: center;
}

.more a{
	padding: 0.5em 0.75em;
	color: #FFF;
  	background-color: #E65C42;
  	border: 0.1em solid;
  	border-color: #E65C42;
  	border-radius: 0.25em;
  	text-decoration: none;
  	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}


.more a:hover {
  background-color:#FFF;
  border: 0.1em solid;
  border-color: #E65C42;
  color: #E65C42;
  padding: 0.5em 0.75em;
}

#footercont{
	padding-top:2em;
	padding-bottom:1em;
	width:70%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 0.05em solid #5c5c5c;
}

#footer table{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#footer td{
	color: #acacac;
	text-align: left;
	font-weight: normal;
  	font-style: normal;
	padding:0.5em 2em;
}

#footer th{
	color: #fff;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
  	font-style: normal;
	padding:0.5em 2em;
}

#footer td a{
	font-size: 0.75em;
	color:#acacac;
	text-decoration: none;
}

#footer td a:hover{
	color:#f0f0f0;
}

#cr {
	font-size: 0.75em;
	color: #5c5c5c;
	text-align: center;
	padding-bottom: 1em;
}

.infor{
  text-align: center;
}

.location a{
	text-decoration: none;
	color: #E65C42;
}

#filter{
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#filter select{
	margin: 1em 2em;
	margin-bottom: 3em;
}

#pagenum{
  margin: 1em 2%;
}

#pagenum a{
	color: #E65C42;
  margin: 1% 1%;
}

th {
	text-align: left;
}

.property-card{
  display: flex;
  width: 90%;
  margin: 2% 5%;
  padding: 1%;
  border: 0.1em solid;
  border-color: #acacac;
}

#card-img{
  height: 5em;
  width: 8em;
}

#card-infor{
  width: 60%;
  margin: 0em 5%
}

#card-infor table{
  width: 100%;
}

#card-button{
	text-align: center;
	height: 2em;
	width: 10%;
	padding: 0.5em 0.75em;
	color: #FFF;
  	background-color: #E65C42;
  	border: 0.1em solid;
  	border-color: #E65C42;
  	border-radius: 0.25em;
  	text-decoration: none;
  	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

#card-button:hover {
  background-color:#FFF;
  border: 0.1em solid;
  border-color: #E65C42;
  color: #E65C42;
  padding: 0.5em 0.75em;
}

#selecter{
  display:flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

input[type=radio]{
  display: none;
}

#selecter label {
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
  margin: 0.2em;
  background: #E65C42;
  color:#fff;
  display: block;
  position: relative;
}

#selecter input:checked + label {
  background: #fff;
  color:#E65C42;
  border: 0.1em solid;
  border-color:#E65C42;
}

h4{
display: block;
margin-left: 5%;
margin-bottom: 0.5em;
color: #5c5c5c;
}

.largeview {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 3em;
}

.largeview img{
	width: 100%;
	height: 15em;
	}

#image1,#image2,#image3,#image4{
	display: none;
}

#smallview label{
  font-size: 1em;
  text-align: center;
  padding: 0.5em;
  margin: 0.2em;
  background: #E65C42;
  color:#fff;
  display: block;
  position: relative;
}

#switch96 img,#switch97 img,#switch98 img,#switch99 img{
	width: 15em;
	height: 15em;
}



#switch96:checked #image1{
	display: block;
}

#detail-info {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 3em;
}

#detail-info table{
width: 100%;
}

@media (max-width: 82em) {

	#headercont{
		width: 40em;
		margin-left: auto;
		margin-right: auto;
	}

	#header img{
	width: 6em;
	height: 6em;
	margin-left: auto;
	margin-right: auto;
}

	#header1,#header2,#header3{
		display: block;
	}

	#header1{
		width:20%;
		margin-left: auto;
		margin-right: auto;
	}

	#header2{
		width:60%;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
	}

	#header3{
		width:50%;
		margin-left: auto;
		margin-right: auto;

	}

	#header td{
		padding:0.3em 1em;
	}

	#filter {
	width: 80%;
}

	#filter select{
	margin: 1em 0.5em;
	margin-bottom: 3em;
}



}



@media (max-width: 45em) {

	#headercont{
		width: 20em;
		padding-top: 3em;
		padding-bottom: 3em;
		margin-left: auto;
		margin-right: auto;
	}

	#header2,#header3{
		display: none;
	}

	#header4{
		display: block;
		position: absolute;
		left: 5px;
		top: 5px;
	}

	#header4:hover .dropdown-content{
		display:block;
	}

	.more{
		width:50%;
	}


	#footercont{
		width: 30em;
		margin-left: auto;
		margin-right: auto;
	}

	#footer th{
		font-size: 1em;
	}
	#footer td{
		font-size: 0.75em;
	padding:0em;
	}

	#footer th{
	padding:0em;
	font-size: 0.75em;
	}

	#filter select{
		width: 80%;
	margin: 1em 0.5em;
	margin-bottom: 0.5em;


}

#filter input{
	width:60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 3em;

}

.property-card{
  display: inline-block;
  }

#card-img{
  	width: 80%;
  	height: 10em;
 	margin-left: 10%;
	margin-right: 10%;
}

#card-infor{
  width: 80%;
  margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}




#card-button{
	font-size: 1em;
	padding: 0.5em ;
	width:40%;
	margin-left: 40%;
	margin-right: 30%;
	margin-bottom:4em;
	margin-top: 0em;
}

label {
	font-size: 0.75em;
}

}
