body {
  min-width: 45em;
  font-family: sans-serif;
  padding: 2rem;
  color: #58595B;
}


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.05em solid #A7A9AC;
}

section h2 {
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  color: #939598;
}

code{
  color:#808285;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.05em solid #A7A9AC;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

header{
  color:#E65C42;
}

h4{
  color:#6D6E71;
}

a{
  text-decoration: none;
  color:#E65C42;
}



#banner img{
  width: 100%;
  max-height: 20%;
}

.footer{
display:flex;
flex-wrap: wrap;
margin-left: 30%;
}

#footer-ionfo,#qr{
  flex-grow: 1;
  flex-basis: 50%;

}

#cr{
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
}

#qr img{
  margin-left: 10em;
  width: 100px;
  height: 100px;
}

/*
  TEXT ELEMENTS -------------------
*/

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

.infor{
  text-align: center;
}

#location{
  vertical-align: top;
  margin-left: 10%;
  display: inline-block;
  width:30%;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

#detail-button{
  display:block;
  width: 15%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#detail-button a{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#detail-des{
  width: 80%;
  margin: 2em 10%;
  padding: 1em;
  border-color: #acacac;
  border: 0.1em solid;
}


#detail-info-group{
  display: flex;
  width: 60%
  margin: 2em 20%;
}

#detail-info{
  flex-grow:1;
  margin: 1% 10%
}

.detail-slide-show{
  display: block;
  width: 80%;
  margin: 2% 10%;
  padding: 1%;
  background: #acacac;
}

.largeview{
  display: block;
  width: 80%;
  margin: 2% 10%;
}

.largeview img{
  display: block;
  max-width: 100%;

  width:auto;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
}

.smallview{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align:center
}

.smallview img{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em 1em;
}


.property-card{
  display: flex;
  width: 90%;
  margin: 2% 5%;
  padding: 1%;
  border: 0.1em solid;
  border-color: #acacac;
}

#card-img{
  flex-grow:3;
}

#card-infor{
  flex-grow:4;
  margin: 1% 5%
}

#card-button{
  flex-grow:1;
  margin: 2em 0;
  padding: 1%;
  text-align: center;
}

#line{
  margin: 0.5em 0px;
}

#line h4,p{
  display: inline;

}
#pagenum{
  margin: 5% 2%;
}

#pagenum a{
  margin: 1% 1%;
}

input[type=checkbox]{
  display: none;
}

label {
  font-size: 20px;
  text-align: center;
  padding: 1em;
  margin: 0.2em;
  background: #E65C42;
  color:#fff;
  display: block;
  position: relative;
}

input:checked + label {
  background: #fff;
  color:#E65C42;
  border: 0.1em solid;
  border-color:#E65C42;
}

#selecter-group{
  display:flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

#selecter{
  width:30%;
  display:flex;
  flex-wrap: wrap;
  margin: 10px;
}

#label1{
  flex-grow: 2;
  width:90%;

}


#label2{
  flex-grow:1;
  width: 45%;
}


.menuImage{
  text-decoration: none;
}

.menuImage img {
  margin-left: 10px;
  margin-right: 20px;
  height: 100px;
  vertical-align: top;
}

.menuImage h1 {
  font-size: 3em;
  display: inline-block;
  margin-top:30px;
  margin-bottom: 0px;
  padding:0px;
}

#search {
  float: right;
  display: inline-block;
  margin-top: 40px;
}

.search-box{
  padding: 0.5em 0.75em;
}

#main-nav{
  margin: 1em auto;
  text-align: center;
  background: #E65C42;
}

.nav-main{
  background: #E65C42;
  display: inline-block;
  color: #fff;
  width: 19%;
  font-size: 1.25em;
  text-decoration: none;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-main:hover, .nav-main:focus  {
  background:#fff;
  color: #E65C42;
}

.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #E65C42;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus  {
  background-color:#FFF;
  border: 0.1em solid;
  border-color: #E65C42;
  color: #E65C42;
  padding: 0.4em 0.65em;
}

.button {
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #E65C42;
  border: 0.1em solid;
  border-color: #E65C42;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover, .button:focus {
  background-color:#FFF;
  border: 0.1em solid;
  border-color: #E65C42;
  color: #E65C42;
  padding: 0.5em 0.75em;
}

.link-nav:hover, .link-nav:focus {
  color: #EFA44E;
}

.link-nav{
  color: #E65C42;
}

.textstyle{
  font-style:oblique;
}

input{
   border: 1px solid #ccc;
}

.dropbtn{
  text-decoration: none;
  color: : #fff;
  background: :#E65C42;
  font-family: "Univers";
  font-weight: bold;
  font-style: normal;
}

.dropdown-content a {
    float: none;
    font-size: 0.75em;
    padding: 12px 0px;
    margin: auto 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

#about:hover #aboutsub{
    display: block;
}

#find:hover #findsub{
    display: block;
}

.dropdown-content a:hover {
  background-color:#E65C42;
  color: #FFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1em;
    width:18%;
    background: #fff;
    z-index: 1;
}

#filter select{
  margin: 0px, 5%;
  width: 20%;
}

/*
  COMBINED ELEMENTS -------------------


*/

@media (max-width: 70em){

  #sales1,#sales2,#sales3 {
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 10%;
  }

  #listing1,#listing2,#listing3,#listing4,#listing5,#listing6{
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 10%;
  }

  #selecter{
  width:40%;

}

  .footer{
    margin-left: 25%;
  }
}


@media (max-width: 55em){
  .nav-main{
    width:100%;
    padding-top: 0.2em;
    padding-left: 10%;
    text-align: left;
  }


  .menuImage{
    width:100%;
    margin-left: 15%;
  }
  #search{
    float: none;
    margin-left: 30%;
  }


#selecter{
  width:80%;

}

.footer{
    margin-left: 15%;
  }

  .dropdown-content{
    position: relative;
    width:100%;
    background: #fff;
    z-index: 1;
}

.dropdown-content a{
  padding-left: 10%;
  text-align: left;
  }


}


/*  margin-bottom: -0.5em;
  height:69.75px;
  width:94.5px;
}


.CartIcon{
 margin-bottom:1.5em;
 margin-left: -3em;
 height:23px;
 width:27px;
}
*/

#topsales h2{
  text-align: center;
}

.box{
display:flex;
flex-wrap: wrap;
}

.box img{
  margin: 10%;
  width: 100%;
  max-height: 20%;
}

#sales1,#sales2,#sales3{
  flex-grow: 1;
  width: 30%;
  max-width: 30%;
}

#hotlisting h2{
  text-align: center;
}

#listing1,#listing2,#listing3,#listing4,#listing5,#listing6{
  flex-grow: 1;
  width: 30%;
   max-width: 30%;
}

/*.Prod-list2{
  height:260px;
  width: 346px;
}*/

figcaption{
text-align: center;
}



.grid-1-1, .grid-1-2, .grid-1-3, .grid-2-4, .grid-2-1, .grid-2-3{

  float: left;
  text-align: center;
  background-color: #D1D3D4;
  margin-bottom: 0.2em;
  width: 100%;
  border-right: solid;
  border-color: white;
}


@media (min-width: 38em){
  .grid-1-2 {
    width: 50%;
  }

  .grid-1-3 {
    width: 33.33333%;
  }

  .grid-2-4{
    width: 25%;
  }

  .grid-2-3 {
    width: 33.33333%;
  }
}

/*.flexbox{
  display:flex;
  flex-wrap: wrap;
}

.grid-1-1{
  flex-grow: 1;
  flex-basis: 100%;
}
.grid-1-2{
  flex-grow: 1;
  flex-basis:50%;
}
.grid-1-3{
  flex-grow:1;
  flex-basis: 33.33%;
}

.grid-2-1{
  flex-grow: 1;
  flex-basis: 100%;
}

.grid-2-4{
    flex-grow: 1;
    flex-basis: 25%;
}

.grid-2-3{
    flex-grow: 1;
    flex-basis: 33.33%;
}*/



.Color1{
  padding: 0.8em;
  background-color: #33BBFF;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color2{
  padding: 0.8em;
  background-color: #EFA44E;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}

.Color3{
  padding: 0.8em;
  background-color: #E65C42;
  margin-bottom: 1em;
  margin-right: 10%;
  text-align: right;
  color: white;
}
